{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block home %}
class="active"
{% endblock %}
{% block body %}


<body style="background-color:lightgrey;">
<div>
    <img id="skateboard" src="/static/images/windex.jpg" alt="skateboard" class="homepage" align="left">

    <p id="textp">This skateboard is not a normal one, it has something special about it,<br> it has an
        odometer mounted on it. <br>
        So now you can see how many KM's you've done <br> but you can also see how fast you go, ain't that awesome?</p>

</div>


{% endblock %}