{% extends "base.html" %}
{% block title %}
Log in
{% endblock %}
{% block login %}
class="active"
{% endblock %}
{% block body %}

<h1 id="login">Log in</h1>
<body style="background-color:lightgrey;">
<div class="container6">
    <form action="" method="POST" id="loginForm">
        <div class="imgcontainer">
            <img src="/static/images/img_avatar2.png" alt="Avatar2" class="avatar2">

        </div>

        <div style="width: 100%">
            <label style="display:block"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
        </div>
        <div style="width: 100%">
            <label style="display:block"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
        </div>
    </form>

    <input type="submit" value="Log in" form="loginForm" login>

    <a href={{'createAccount'}}>
        <button>Create Account</button>
    </a>
</div>


{% endblock %}