{% extends "base.html" %}
{% block title %}
Testimonials
{% endblock %}
{% block testimonials %}
class="active"
{% endblock %}
{% block body %}
<h1 id="testi">Testimonials</h1>
<body style="background-color:lightgrey;">
<div class="container2">
    <img src="/static/images/testi1.jpg" alt="Avatar" style="width:90px">
    <p><span>Bryan Connor</span> Student at HOWEST</p>
    <p>I really like the product and I'm so glad that I got one.</p>
</div>

<div class="container2">
    <img src="/static/images/woman.jpg" alt="Avatar" style="width:90px">
    <p><span>Paris Jackson</span></p>
    <p>Finally I found a product that is really useful.</p>
</div>

<div class="container2">
    <img src="/static/images/noprofile.jpg" alt="Avatar" style="width:90px">
    <p><span>Marie Balotelli</span></p>
    <p>My son loves this product, he almost uses it everyday</p>
</div>


{% endblock %}